@model LoginViewModel;
@{
    ViewData["Title"] = "Registro";
}


<table class="table">
    <tr>
        <td>
            <img src="~/images/laptop_8515501.png" alt="Registro" class="center-block" />
        </td>

        <td>
            <div class="row">
                <div class="col-10 col-md-10 col-lg-10">
                    <h3>Cadastro de Usuário</h3>
                    <form asp-controller="Account" asp-action="Register" method="post" role="form">
                        <hr />

                        <div class="form-group">
                            <label asp-for="UserName" class="col-md-2 control-label"></label>
                            <div class="col-md-6">
                                <input asp-for="UserName" class="form-control border border-warning" />
                                <span asp-validation-for="UserName" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label asp-for="Password" class="col-md-2 control-label"></label>
                            <div class="col-md-6">
                                <input asp-for="Password" class="form-control border border-warning" />
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-8 mt-2">
                                <input type="submit" class="btn btn-warning" value="Registrar" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </td>
    </tr>
</table>