<div class="container">
    <img src="~/" alt="Fale Conosco"/>

    <div class="junbotron">
        <h3>Queremos ouvir o que você tem a dizer.</h3>
        <p>Em caso de dúvidas, entre em contato conosco.</p>

        <p>
            <span>
                <img src="~/images/ImagemEmail"/>

                <h5><email adress="ruanoliveira.pro@gmail.com" content="Enviar Email"></email></h5>

                <br />
                <span>
                    <img src="~/images/Telefone" />

                    <h5>(21) 22222222</h5>

                    <br />

                    <img src="~/images/EnderecoCasa" />

                    <h5>Rua São Paulo 2000 - 32070976 - Minas Gerais</h5>
                </span>
            </span>
        </p>
    </div>
</div>