<div class="container">
    <i class="fa-solid fa-phone fa-3x"></i>
    <div class="junbotron">
        <h4>Queremos ouvir o que você tem a dizer.</h4>
        <p>Em caso de dúvidas, entre em contato conosco.</p>

        <div class=" row ">
            <div class="align-content-center">
                <i class="fa-solid fa-envelope fa-2x"></i>
                <h6><email adress="ruanoliveira.pro@gmail.com" content="Enviar Email" class="text-decoration-none"></email></h6>
            </div>
        </div>

        <br />
        <div class="row">
            <i class="fa-solid fa-address-book fa-2x"></i>

            <h6>(21) 4002-8922</h6>
        </div>



        <br />

        <div class="row">
            <i class="fa-solid fa-house-laptop fa-2x"></i>
            <h6>Rua São Paulo 2000 - 32070976 - Minas Gerais</h6>
        </div>
        
    </div>
</div>