
<br />

<img src="~/images/admin.png" alt="Área do Administrador" class="mt-1" />

<div class="container">
    <div class="jumbotron">
        <p>
            <h2>Área Administrativa</h2>
        </p>
    </div>

    <a asp-area="" asp-controller="Home" asp-action="Index">Página Inicial</a>
</div>
