<div id="carouselGames" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active" style="height: 550px">
            <img src="~/images/tlou2.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item" style="height: 550px">
            <img src="~/images/gow.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item" style="height: 550px">
            <img src="~/images/r6.jpg" class="d-block w-100" alt="...">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselGames" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Prévia</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselGames" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Próximo</span>
    </button>
</div>