@model GameListViewModel

<div class="container">
    <div class="row">
        <div class="mb-3 col-md-8">
            @await Component.InvokeAsync("MenuCategory")

        </div>

        <div class="col-md-4">
            <form class="navbar-form navbar-right" asp-controller="Game" asp-action="Search" method="get">
                <div class="form-group">

                    <input type="text" class="form-control" placeholder="Pesquisar" name="search">

                </div>
            </form>
        </div>


        
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="mb-3 align-content-center">
            <h2>@Model.CurrentCategory</h2>

        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        @if (Model.Games != null)
        {
            @foreach (var item in Model.Games)
            {
                <partial name="_GameResume" for="@item" />
            }
        }
        else
        {
            <h1>Não há jogos cadastrados.</h1>
        }
    </div>
</div>
